.task-container{
    background-color: #444;
    justify-content: space-between;
    align-items: center;
    display: flex;
    margin: 8px 0;
    padding: 15px 20px;
    border-radius: 5px;
    color:#fff;
    font-weight: 800;
}
.task-title{
    cursor:pointer;
}
.remove-task-button{
    background-color:#444;
    border:none;
    color:chartreuse;
    font-size:18px;
    cursor: pointer;
}